body {
  padding: 0 20px;
}

label {
  display: inline-block;
  width: 80px;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 8px;
  justify-content: start;
}

#login_btn {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  width: 80px;
}

main {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  width: 300px;
  display: none;
}

div {
  margin-bottom: 20px;
}

#logout_btn {
  width: 100%;
  height: 50px;
}
